body{
    margin: 0;
    padding: 0;
}

.portada{
    position: relative;
    width:100%;
    height: 70vh;
    background:linear-gradient(45deg, #e4e011, #df0611);
    display: flex;
    justify-content: center;
    align-items:center
}
.portada::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(24, 24, 24);
    clip-path: polygon(100% 50%,0 100%,100% 100%);
}
.content{
    position: relative;
    max-width: 900px;
}
.content h2{
    color:azure;
    font-size: 5em;
}