body{
    margin: 0;
    padding: 0;
}
.spinner{
    margin-top: 15%;
    margin-left: 45%;
}
.portada{
    position: relative;
    width:100%;
    height: 40vh;
    background:url(./components/img/libre.jpg);
    background-size: cover;
    background-position:center center;
    background-attachment: fixed ;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 20%,
        50% 100%,
        0 20%
    );
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}
.logo{
    width: 90px;
    height: 80px;
}
.content{
    position: relative;
    max-width: 900px;
    color: azure;
}
.content h2{
    color:azure;
    font-size: 5em;
}
.content p{
    color: black;
    font-weight: bolder;
}
/*NavBar*/
.dropdown{
    display: block;
}
.categoriesItems{
    margin: 0px;
    padding: 0px;
}
.categoriesItems li{
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 5px 8px 8px 15px;
}
.categoriesItems li:hover{
    background-color: rgb(119, 119, 119);
}
/*Contenedor de Cards---> en  CardContainer.js*/
.divCard{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5%;
}
/*Cada tarjetita en Cards.js*/
.CardTitu{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(18, 5, 93, 0.541);
    color: rgba(255, 254, 254, 0);
    position:absolute;
    width: 0%;
    height:100%;
    font-size:larger;
    display: flex;
    justify-content:center;
    align-items: center;
    transition: all 250ms ease-in-out
}


.CatalogoCard{
    margin: 1.3rem 1.3em 0rem auto;
    border-radius: 6px;
    overflow:hidden;
    margin-top: '8%';
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;  
}
/*Efecto hover sobre cards!*/
.CatalogoCard:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.CatalogoCard:hover h2{
    width: 100%;
    color:rgb(250, 250, 250);
}
.CardImg{
    width: 20rem;
    height:20rem;
}


.NotFound{
    margin-top: 20%;
}
/*Altero estilo de los links*/
.link{
    text-decoration: none;
    color: azure;
}
.link:hover{
    color:crimson;
}


.contentCard{
    font-size: 1rem;
}
.footerCard{
    text-align: center;
}

.footerCard ul{
    list-style: none;
}

.tableFoot{
    background-color: rgba(19, 18, 18, 0.959);
    border-color: black;
}

.numProducts{
    position: absolute;
    top: 17%;
    display: flex;
    justify-content: center;
    right: 13%;
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
/*DETALLES DEL PRODUCTO*/

.box01{
    border-radius: 2%;
    margin: 5%;
    overflow: hidden;
    background: white;
    color: black;
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
  }

/*Oculto y muestro texto de descripcion*/
.box03 p{
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5 ;
    line-clamp: 5;
    overflow:hidden;
}
.box03 p:active{
    display:block
}

  .titleBook{
    font-family: 'Old Standard TT', serif;
    position: relative;
	font-size: 2.5rem;
	color: #344055;
	margin:5%
  }
  
 /*ITEM COUNT EN CARDS*/
.itemCount{
    color: white;
    width: 45%;
    margin-left: 29%;
    transform: translateX(-10%); padding-right: 15px;
}
.buttCoutn{
    display: flex;
    justify-content:space-around;
    margin-top: 15%;
    margin-left: 10%;
}
/*Formulariossss!*/
.formLogueo{
    display: flex;
    justify-content:center;
}
.formLogueoRow{
    width: 80%;
    position: absolute;
    top: 30%;
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    font-family: 'Old Standard TT', serif;
}
.titleLogin{
    font-family: 'Old Standard TT', serif;
    margin:7%
}
.imgLogin{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
